<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar nova transação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>

                    <div class="form-group ">
                        <label for="name">Nome da transação:</label>
                        <div class="icon-input">
                            <div class="name-icon icon-background">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path fill-rule="evenodd"
                                        d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                                </svg>
                            </div>
                            <div class="input-verify">
                                <input type="text" class="form-control" id="name" required placeholder="Nome">
                                <div class="valid-feedback">
                                    Tudo certo por aqui!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, de um nome a sua transação.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class=" form-group ">
                        <label for="value">Valor:</label>
                        <div class="icon-input">
                            <div class="name-icon icon-background">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z" />
                                    <path
                                        d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                                </svg>
                            </div>
                            <div class="input-verify">
                                <input type="text" class="form-control money" id="value" required placeholder="R$">
                                <div class="valid-feedback">
                                    Tudo certo por aqui!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, defina um valor válido.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" form-group div-select">
                        <label for="type">Selecione o tipo:</label>
                        <div class="icon-input">
                            <div class="select-icon icon-background">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-up"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z" />
                                    <path fill-rule="evenodd"
                                        d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                        d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </div>
                            <div class="input-verify">
                                <select class="custom-select" id="type" required>
                                    <option selected disabled value="">Tipo</option>
                                    <option>Entrada</option>
                                    <option>Saída</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor, selecione um dos tipos.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="" style="text-align: right;">
                        <button class="btn btn-success ml-6" type="submit">Cadastrar</button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>

<%- contentFor('modal-end') %> 

<script src="/js/modal.js"></script>