<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha conta</title>
</head>
<body>

    <h1>Minha Conta</h1>
    <hr>
    <div class="panel">
        <div class="panel-head">
            <h3>Minhas transações</h3>

        </div>
        <div class="panel-body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</body>
</html>