<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/mytransactions.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <title>Minha conta</title>

</head>

<body class="bg-secondary">
    <div class="container-fluid">

        <div style="margin-top: 17px;">
            <h1>Minha Conta</h1>
        </div>

        <hr>
        <div class="col-12">

            <h3>Minhas transações</h3>

            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody class="" id="table-body">
                    <tr>
                        <td>10</td>
                        <td>Lucas</td>
                        <td>saída</td>
                        <td class="text-danger">- R$550,00</td>
                    </tr>
                </tbody>

            </table>
            <div class="results">

                <div class="card text-white bg-danger mb-3 cards">
                    <div class="card-header">Saída</div>
                    <div class="card-body">
                        <h5 class="card-title">- R$1000,00</h5>
                    </div>
                </div>

                <div class="card text-white bg-dark mb-3 cards">
                    <div class="card-header">Saldo atual</div>
                    <div class="card-body">
                        <h5 class="card-title"> R$1000,00</h5>
                    </div>
                </div>

                <div class="card text-white bg-success mb-3 cards">
                    <div class="card-header">Entrada</div>
                    <div class="card-body">
                        <h5 class="card-title">+ R$1000,00</h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>

</html>