
table {

    box-shadow: 5px 5px 0px 0px rgba(78, 78, 78, 0.151); 
    border-radius: 5px; 
    cursor: pointer;
    border: 0;
    overflow: hidden;
    
}

.results {

    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;

}

.cards {

    margin-right: 8px;
    max-width: 18rem;
    width: 15rem;
    box-shadow: 5px 5px rgba(78, 78, 78, 0.151);

}

.page-header {

    display: flex;
    justify-content: space-between;
    align-items: center;

}